/* Styles apply to each individual article page */

/* Text and alignment styling for the article title */
.article-title {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 1.75em;
    color: black;
}

/* Text and alignment styling for the article authors, tags, and date */
.article-authors, .article-tags, .article-date {
    font-size: 0.75em;
    font-style: italic;
    color: grey;
    text-indent: 1em;
    margin: 0.5em;
}

/* Sets color for author and tag links */
.article-authors a, .article-tags a {
    color: grey;
}

/* Sets HOVER color for author and tag links */
.article-authors a:hover, .article-tags a:hover {
    color: black;
}

/* Styling for the main content of the article */
.article-body {
    margin-top: 25px;
    padding: 2vw;
    box-shadow: 0 2px 5px 1px #0002;
    border-radius: 16px;
    background-color: white;
}

/* Styling for the cover image */
.article-cover {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

/* Styling for the byline */
.article-byline {
    font-style: italic;
    margin-bottom: 10px;
}

/* Styling for images in the content of the article */
.article-content img {
    width:50%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px #0002;
}

/* General image caption styling */
.article-body img + em {
    font-size: 0.75em;
    font-style: italic;
    padding: 0 20px 10px;
    display: block;
    color: grey;
    width:50%;
    box-sizing: border-box;
}

/* LEFT ALIGNED image caption styling */
img.left, img.left + em {
    width: 33%;
    float: left;
    margin: 0.55em 17px 0.1em 0;
    clear: left;
}

/* RIGHT ALIGNED image caption styling */
img.right, img.right + em {
    width: 33%;
    float: right;
    margin: 0.55em 0 0.1em 17px;
    clear: right;
}

/* Cover caption styling */
.article-cover-caption {
    width: 100% !important;
}

/* Makes cover image have a border radius and box shadow */
.img-card {
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px #0002;
}

/* Styling for quotes */
blockquote {
    margin-left: 1.5em;
    padding: 0 1em;
    border: 1px solid lightgrey;
    background: white;
    border-left: 5px solid #7dad27;
    font-style: italic;
}

/* Styling for embedding tweets in articles */
twitterwidget {
    clear: both;
    margin-top: -1.5em !important;
}

twitterwidget::before {
    content: "";
    height: 1.5em;
    display: block;
}

/* Resets alignment (floating) */
.clearfix {
    display: block;
    clear: both;
    height: 1.5em;
}

/* Media query for small screen sizes */
@media (max-width: 767px) {
    .article-info {
        padding: 0 15px;
    }
}

/* Dynamic width and height for YouTube videos */
iframe[src*="youtube"] {
    width: 100%;
    height: 34.7vw;
}