/* Styles apply to each school's respective expeditions explorer page */

/* Sets correct image size for the thumbnails of each expedition */
img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* Ensures that the expedition title is centered on the thumbnail and adds shadow, etc. for styling */
.centered {
    transform: translateY(-50%);
    width: calc(100% - 30px);
    text-align: center;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.35em;
    text-shadow: 0 1px 7px #333a;
}