/* Styles apply to ALL PAGES */

/* Sets default font settings and bg color */
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    background-color: #eee;
}

/* Allows for a small spacing between the bottom of the content and the
 * bottom of the page
 */
#pageContent {
    padding-bottom: 3vh;
}


/* Adds a rounded cornered and bordered box */
.box {
    padding: 2vw;
    box-shadow: 0 2px 5px 1px #0002;
    border-radius: 16px;
    background-color: white;
}