/* Styles apply to right sidebar */

/* Sets the sidebar to be stickied to the right side of the screen */
#sidebar {
    position: sticky; /* this works trust me */
    position: -webkit-sticky;
    top: 105px;
    height: calc(97vh - 120px - 1.5rem);
    width: 100%;
    margin: 25px 25px 1.5rem;
    padding: 7px 15px;
    box-sizing: border-box;
}