---
layout: main
title: Summit PS News
extraCSS:
- article-list
- tag-grid
---
<div class="tag-grid">
    <div class="row">
        <div class="col-12 col-md tag-grid-card">
            <a href="{{ site.baseurl }}/tags/sports.html">
                <img class="tag-grid-img" src="{{ site.baseurl }}/assets/sports.jpg">
                <div class="tag-grid-caption">Sports</div>
            </a>
        </div>
        <div class="col-12 col-md tag-grid-card">
            <a href="{{ site.baseurl }}/tags/arts.html">
                <img class="tag-grid-img" src="{{ site.baseurl }}/assets/arts.jpg">
                <div class="tag-grid-caption">Arts</div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md tag-grid-card">
            <a href="{{ site.baseurl }}/tags/election.html">
                <img class="tag-grid-img" src="{{ site.baseurl }}/assets/flag.jpg">
                <div class="tag-grid-caption">Election</div>
            </a>
        </div>
        <div class="col-12 col-md tag-grid-card">
            <a href="{{ site.baseurl }}/tags/community.html">
                <img class="tag-grid-img" src="{{ site.baseurl }}/assets/community.jpg">
                <div class="tag-grid-caption">Community</div>
            </a>
        </div>
    </div>
</div>
<h2 class="mt-3">Featured Articles</h2>
{% for post in site.tags.Featured %}
    {% include article-list-item.html %}
{% else %}
<p>
    There are no articles with this tag.
</p>
{% endfor %}

<h2 class="mt-3">Recent Articles</h2>
{% for post in site.posts limit:9 %}
    {% if post.title == featuredArticleTitle %}
        {% assign featuredGotten = true %}
    {% elsif forloop.index < 9 or featuredGotten == true %}
        {% include article-list-item.html %}
    {% endif %}
{% endfor %}
