---
layout: main
---
<h2>
    {{ page.title }}
</h2>
<h5>
    Posted on {{ page.date | date_to_long_string: "ordinal", "US" }} by {{ page.authors | array_to_sentence_string }}
</h5>
<h5 style="font-style: normal">
    Tags: {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}.html">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
</h5>
<img src="{{ site.baseurl }}/assets{{ page.id }}/cover.jpg" class="image cover" />
{% if page.cover-caption %}
    <em class="cover-caption">{{ page.cover-caption }}</em>
{% endif %}
<h4>
    By {{ page.authors | array_to_sentence_string }}
</h4>
<div id="article">
    {{ content }}
    <!-- BEGIN DISQUS UNIVERSAL CODE -->

    <div id="disqus_thread"></div>
    <script>
    
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    
    var disqus_config = function () {
    this.page.url = "https://summitpsnewsmagazine.com{{ site.baseurl }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://summitpsnewsmagazine.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
    <!-- END DISQUS UNIVERSAL CODE -->
</div>