<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="icon" href="https://image.ibb.co/i68wQz/summit_logo.png" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/styling/article.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/styling/navbar.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/styling/overall.css" type="text/css" />
    {% for sheet in page.extraCSS %}
        <link rel="stylesheet" href="{{ site.baseurl }}/styling/{{ sheet }}.css" type="text/css" />
    {% endfor %}
</head>

<body>
    <!--Top Navigation Bar-->
    <div class="topnav">
        <a class="home" href="{{ site.baseurl }}/">Home</a>
        <a class="about" href="{{ site.baseurl }}/about.html">About</a>
        <div class="dropdown2">
            <input id="input" class="dropbtn2" type="text" placeholder="Search Articles...">
            <ul class="myUL">
                <div class="dropdown-content2">
                    {% for post in site.posts %}
                    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="{{ site.baseurl }}/interaction/search.js"></script>
    <div class="fillBackground">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/journalism.jpg" class="center"></img></a>

        <!--Navigation bar-->
        <ul class="navbar">
            <a href="{{ site.baseurl }}/">
                <li class="home">HOME</li>
            </a>
            <a href="{{ site.baseurl }}/about.html">
                <li class="about">ABOUT</li>
            </a>
            <a href="{{ site.baseurl }}/tags/news.html">
                <li class="news">NEWS</li>
            </a>
            <a href="{{ site.baseurl }}/tags/opinion.html">
                <li class="opinion">OPINION</li>
            </a>
            <div class="dropdown">
                <li class="dropbtn">LOCATIONS</li>
                <div class="dropdown-content">
                    <a href="{{ site.baseurl }}/tags/daly-city.html">DALY CITY</a>
                    <a href="{{ site.baseurl }}/tags/redwood-city.html">REDWOOD CITY</a>
                    <a href="{{ site.baseurl }}/tags/san-jose.html">SAN JOSE</a>
                </div>
            </div>

            <a href="{{ site.baseurl }}/tags/expeditions.html">
                <li class="expeditions">EXPEDITIONS</li>
            </a>
            <a href="{{ site.baseurl }}/tags/arts.html">
                <li class="arts">ARTS</li>
            </a>
            <a href="{{ site.baseurl }}/tags/sports.html">
                <li class="sports">SPORTS</li>
            </a>
            <a href="https://twitter.com/summitpsnews" target="_blank">
                <li class="twitter">TWITTER</li>
            </a>
            <a href="http://summitps.org/" target="_blank" class="endBracket">
                <li class="summit">MORE ABOUT SUMMIT</li>
            </a>
        </ul>
    </div>
    <div id="pageContent">
        {{ content }}
    </div>
</body>

</html>
