.fillBackground {
    background-color: #67F0E2;
}

.center {
    margin: auto;
    width: 100%;
}

a {
    text-decoration: none;
}

h2 {
    color: black;
}

.offsetLeft {
    margin-left: 16%;

}

body {
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

h5, h6 {
    color: #424A45;
    font-style: italic;
}

h4 {
    color: black;
    font-style: italic;
}

p {
    color: black;
    /*width: 1000px;*/
    font-family: Calibri, sans-serif;
}

.box {
    width: 1000px;
    height: 250px;
    border: 2px solid white;
    background-color: #67F0E2;
    margin-left: 25px;
    padding: 25px;
    color: black;
}

/*.box>* {*/
/*    display: block;*/
/*}*/

.textbox {
    display: inline-block;
    width: calc(100% - 260px);
    /*width: 100%;*/
    height: 250px;
    vertical-align: top;
}

h3 {
    color: black;
}

.link {
    color: black;
}

.tag {
    text-decoration: none;
    color: #424A45;
}
.inline-block{
    display:inline-block;
    width:80%; 
}
.inline-block p{
    margin-left: 5%;
    display:inline-block;
    max-width:55%;
}
.inline-block .caption img{
    margin-left: 1%;
    display:inline-block;
    max-width:80%;
}
.inline-block .marginLeft{
    max-width: 85%;
    padding-left:7.5%; 
}

.inline-block .caption{
    display: inline-block;
    max-width:35%;
}
.inline-block .caption p{
    display: inline-block;
    margin-left: 4%;
    max-width:35%;
}
.articleCenter, #article img {
    width:50%;
    margin-left:25%;
    margin-bottom: 0;
}
#article img + em {
    width:50%;
    color: white;
    font-size: 10pt;
    display: block;
    margin: 0 0 -100% 25%;
    float: left;
    transform: translate(0, calc(-100% - 5.5px));
    background: linear-gradient(to bottom, transparent, #000);
    box-sizing: border-box;
    padding: 1.5em 0.5em 0.4em;
}
#article .left {
    width: 25%;
    float: left;
    margin: 1em 1em 0 0;
}
#article .right {
    width: 25%;
    float: right;
    margin: 1em 0 0 1em;
}
#article .left + em {
    width: 25%;
    float: left;
    margin: 0.5em 1em -100% 0;
    clear: left;
}
#article .right + em {
    width: 25%;
    float: right;
    margin: 0.5em 0 -100% 1em;
    clear: right;
}
.cover {
    width: 100%;
    height: auto;
}
.cover-caption {
    width: 100%;
    color: white;
    font-size: 10pt;
    display: block;
    margin: 0 0 -100% 0;
    float: left;
    transform: translate(0, calc(-100% - 5.5px));
    background: linear-gradient(to bottom, transparent, #000);
    box-sizing: border-box;
    padding: 1.5em 0.5em 0.4em;
}

.cover-caption a, #article img + em a {
    color: skyblue;
}

blockquote {
    margin-left: 1.5em;
    padding: 0 1em;
    border: 1px solid lightgrey;
    background: white;
    border-left: 5px solid #7dad27;
    font-style: italic;
}

twitterwidget {
    clear: both;
    margin-top: -1.5em !important;
}

twitterwidget::before {
    content: "";
    height: 1.5em;
    display: block;
}

.clearfix {
    display: block;
    clear: both;
    height: 1.5em;
}