.article-title {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 1.75em;
    color: black;
}

.article-authors, .article-tags, .article-date {
    font-size: 0.75em;
    font-style: italic;
    color: grey;
    text-indent: 1em;
    margin: 0.5em;
}

.article-authors a, .article-tags a {
    color: grey;
}

.article-authors a:hover, .article-tags a:hover {
    color: black;
}

.article-body {
    margin-top: 25px;
    line-height: 1.4;
}

.article-cover {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.article-authors2 {
    font-style: italic;
}

.article-content img {
    width:50%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px #0002;
}

.article-body img + em {
    font-size: 0.75em;
    font-style: italic;
    padding: 0 20px 10px;
    display: block;
    color: grey;
    width:50%;
    box-sizing: border-box;
}

img.left, img.left + em {
    width: 33%;
    float: left;
    margin: 0.55em 17px 0.1em 0;
    clear: left;
}

img.right, img.right + em {
    width: 33%;
    float: right;
    margin: 0.55em 0 0.1em 17px;
    clear: right;
}

.article-cover-caption {
    width: 100% !important;
}

blockquote {
    margin-left: 1.5em;
    padding: 0 1em;
    border: 1px solid lightgrey;
    background: white;
    border-left: 5px solid #7dad27;
    font-style: italic;
}

twitterwidget {
    clear: both;
    margin-top: -1.5em !important;
}

twitterwidget::before {
    content: "";
    height: 1.5em;
    display: block;
}

.clearfix {
    display: block;
    clear: both;
    height: 1.5em;
}

iframe[src*="youtube"] {
    width: 65vw;
    height: 36.5625vw;
}