::-webkit-scrollbar-corner{
    display:none;
    width: 5px;
}

#pageContent {
    padding: 0.5em 4% 2%;
    margin-right: 300px;
}

.topnav {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 40px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px 1px #0002;
}

.right {
    margin-left: auto;
}

/* Style the links inside the navigation bar */

.topnav a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    color: #777;
}

/* Change the color of links on hover */

.topnav > a:hover, .topnav > a:focus {
    outline: none;
    color: #444;
    background: #eee;
    border-radius: 8px;
}

.dropdown:hover .dropbtn, .dropdown:focus .dropbtn, .dropdown:focus-within .dropbtn {
    outline: none;
    color: #444;
    background: #eee;
    border-radius: 8px 8px 0 0;
}

/* Style the search box inside the navigation bar */


.search-box {
    border: 1px solid lightgrey;
    padding: 5px;
    font-size: 17px;
    margin-right: 0;
    border-radius: 8px 0 0 8px;
}

.search-box:focus {
    /*border: 2px solid #acf;*/
    outline: none;
    /*margin-right: -1px;*/
    background: #f7f7f7;
}

.search-button {
    padding: 6px;
    border: none;
    font-size: 17px;
    margin-left: 0;
    border-radius: 0 8px 8px 0;
}

.search-button:focus {
    outline: none;
    background-color: #ccc;
}

<<<<<<< Updated upstream
.topnav-separator {
    width: 1px;
    height: 75%;
    background: linear-gradient(to bottom, transparent, #0002, #0002, transparent);
    margin: 10px;
}

.icon-arrow {
    display: inline-block;
    margin: 4.5px -3px 4.5px 10px;
    float: right;
    transform: translateY(-3px) rotate(45deg);
    width: 6px;
    height: 6px;
    border: 2px solid transparent;
}
=======
.dropdown {
    width: 103px;
    display: inline-block;
    /*border-left: 1px solid #424A45;*/
}

.dropdown .dropbtn {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #67F0E2;
    color: #424A45;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes

.icon-arrow-down {
    transform: translateY(-3px) rotate(45deg);
}

.icon-arrow-right {
    transform: rotate(-45deg);
}

.dropdown-submenu {
    position: relative;
}


.dropdown > .dropbtn .icon-arrow {
    border-bottom-color: #888;
    border-right-color: #888;
}

.dropdown:hover > .dropbtn .icon-arrow,
.dropdown:focus > .dropbtn .icon-arrow,
.dropdown:focus-within > .dropbtn .icon-arrow {
    border-bottom-color: #555;
    border-right-color: #555;
}

.dropdown-submenu > .dropbtn-submenu .icon-arrow {
    border-bottom-color: #777;
    border-right-color: #777;
}

.dropdown-submenu:hover > .dropbtn-submenu .icon-arrow,
.dropdown-submenu:focus > .dropbtn-submenu .icon-arrow,
.dropdown-submenu:focus-within > .dropbtn-submenu .icon-arrow {
    border-bottom-color: #555;
    border-right-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;   
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px #0004;
    z-index: 1;
    /*overflow: hidden;*/
    border-radius: 0 8px 8px;
}

.dropdown-submenu > .dropdown-content {
    left: 145px;
    top: 0;
}

.dropdown-content a {
    display: block;
    text-align: left;
    color: #666;
}

.dropdown-content > a:first-child {
    border-top-right-radius: 8px;
}

.dropdown-content > a:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown-content a:hover,
.dropdown-content a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-submenu:focus-within > a {
    outline: none;
    color: #444;
    background: #ddd;
}

.dropdown:hover > .dropdown-content,
.dropdown:focus > .dropdown-content,
.dropdown:focus-within > .dropdown-content,
.dropdown-submenu:hover > .dropdown-content,
.dropdown-submenu:focus > .dropdown-content,
.dropdown-submenu:focus-within > .dropdown-content {
    display: block;
}

#sidebar {
    position: sticky; /* this works trust me */
    float: right;
    top: 25px;
    height: calc(100vh - 50px);
    width: 275px;
    margin: 25px;
    padding: 7px 15px;
    box-sizing: border-box;
}