/* This file contains styles that apply to ALL PAGES IN THE SITE */

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    background-color: #eee;
}

a {
    text-decoration: none;
}

.card {
    padding: 25px;
    box-shadow: 0 2px 5px 1px #0002;
    border-radius: 16px;
    background-color: white;
}

.img-card {
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px #0002;
}

h5, h6 {
    color: #424A45;
    font-style: italic;
}

h4 {
    font-style: italic;
}

p {
    font-family: Calibri, sans-serif;
}