/* Styles apply to the tag grid on the homepage */

.tag-grid-img {
    width: 100%;
}

.tag-grid-caption {
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 2em;
    width: calc(100% - 50px);
    text-align: center;
    position: absolute;
    top: 40%;
    text-shadow: 0 1px 4px #0005;
}

.tag-grid {
    margin-top: 15px;
}

.tag-grid-card {
    margin-top: 15px;
}

@media (min-width: 767px) {
    .tag-grid-card {
        padding: 25px;
        box-shadow: 0 2px 5px 1px #0002;
        border-radius: 16px;
        background-color: white;
        margin: 10px;
    }
}